
<div class="container" ng-controller="loginCtrl">
    <div class="row middle box ">
	  	<div class="box-login middle ">
			  
			<div class="container">
				<h2 class="accent-4 text-darken-3 center">SNIET</h2>
			</div>

			<div class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<input id="login" type="text" class="validate" 
								ng-model="loginUser.login">
							<label for="login">Login</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="senha" type="password" class="validate"
								ng-model="loginUser.password">
							<label for="senha">Senha</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input type="button" ng-click="logar(loginUser)"
							class="waves-effect waves-light btn w3-blue"  value="Entrar">
						</div>

						<div class="input-field col s6">
							<a href="registrar.html"><p style="font-size: 12px;">Ainda não tem uma conta? Clique aqui</p></a>
						</div>
						
					</div>
				</form>
			</div>

		</div>	
    </div>	
</div>
