 <div class="row">
     <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#dadosIndividuo">Dados do Indivíduo</a></li>
        <li class="tab col s3"><a href="#dadosPratica">Dados da Prática</a></li>
        <li class="tab col s3"><a  href="#dadosIncidente">Dados do Incidente</a></li>
        <li class="tab col s3"><a  href="#dadosLocalIncidente">Dados do Local do Incidente</a></li>
    </ul>
    <form name="novoIncidenteForm" class="col s12" role="form">
    
        <!-- início dados indivíduo-->
        <div id="dadosIndividuo" class="col s12">
            <div class="input-field col s12 ">	
                <input type="text" class="validate" ng-model="nome" required/>
                <label>Nome</label>
            </div>
        
            <div class="input-field col s12 ">
                <input type="text" class="validate" ng-model="profissao" name="profissao" id="profissao" required/>
                <label for="profissao">Profissão</label>
            </div>


            <div class="input-field col s6 m6">
                <input type="text" class="validate" ng-model="idade"  name="idade" id="idade" required/>
                <label for="idade">Idade</label>
            </div>
            
            <div class="input-field col s12 ">
                <input type="radio" name="radioBtn" ng-model="sexo" name="feminino" id="feminino1" value="F"/>
                <label for="feminino1">Feminino</label>
                <br>
                <input type="radio" name="radioBtn" ng-model="sexo" name="masculino" id="masculino1" value="M"/>
                <label for="masculino1">Masculino</label>
            </div>
            
        </div>
        <!-- fim dados indivíduo-->

        <!-- início dados prática-->
        <div id="dadosPratica" class="col s12">
            <div class="input-field col s12 ">	
                <input type="text" class="validate" ng-model="descricaoPratica" required/>
                <label>Prática</label>
            </div>
            <div class="input-field col s12 ">	
                <input type="text" class="validate" ng-model="tipoPratica" required/>
                <label>Tipo Prática</label>
            </div>
            <div class="input-field col s12 ">
                <select id="statusPratica" name="statusPratica" ng-model="statusPratica" required> 
                    <option value="" disabled selected>Status 1</option>
                    <option value="1">Status 1</option>
                    <option value="2">Status 2</option>
                    <option value="3">Status 3</option>
                    <option value="4">Status 4</option>
                </select>
            </div>
        </div>
        <!-- fim dados prática-->

        <!-- início dados incidente-->
        <div id="dadosIncidente" class="col s12">
            <div class="input-field col s12 ">
                <input type="date" class="datepicker" ng-model="dataIncidente" required>
                <label for="data">Data</label>
                
            </div>

            <div class="input-field col s12">
                <textarea id="descricao" class="materialize-textarea" ng-model="descricaoIncidente" required></textarea>
                <label for="descricao">Descrição</label>
            </div>

            <div class="input-field col s12">
                <select id="statusIncidente" name="statusIncidente" ng-model="statusIncidente" required>
                    <option value="" disabled selected>Status</option>
                    <option value="v">Vivo</option>
                    <option value="m">Morto</option> 
                </select>
            </div>

        </div>
        <!-- fim dados incidente-->
        
        <!-- início dados local incidente-->
        <div id="dadosLocalIncidente" class="col s12">
            <div class="input-field col s12">
                <input type="text" class="validate" name="nomeLocal" id="nomeLocal" ng-model="nomeLocal" required/>
                <label for="nomeLocal">Nome Local</label>
            </div> 

            <div class="input-field col s3 m3">
                <input type="text" id="enderecoPais" name="enderecoPais" ng-model="pais" required/> 
                <label>País</label>
               </div>
            <div class="input-field col s4 m4">
               <input type="text" id="enderecoCidade" name="enderecoCidade" ng-model="cidade" required/> 
                <label>Cidade</label>
            </div>
            <div class="input-field col s4 m4">
                <input type="text" id="enderecoBairro" name="enderecoBairro" ng-model="bairro" required/> 
                <label>Bairro</label>
            </div>
            <div class="input-field col s1 m1">
               <input type="text" id="enderecoUF" name="enderecoUF" ng-model="UF" required/> 
                <label>UF</label>
            </div>

            <div class="input-field col s6">
                <input type="text"  class="validate" name="longitude" id="longitude" ng-model="longitude" required/>
                <label for="longitude">Longitude</label>	
            </div>

            <div class="input-field col s6">
                <input type="text"  class="validate" name="latitude" id="latitude" ng-model="latitude" required/>
                <label for="latitude">Latitude</label>	
            </div>
            
            <div class="input-field col s12">
                      
                    <button  type="button" class="btn waves-effect waves-light" ng-click="inserirIncidente()" >Salvar <i class="material-icons right">send</i></button>
                    <button  type="reset" class="btn waves-effect waves-light">Limpar  <i class="material-icons right">delete</i></button>   
            </div> 
        </div>
        <!-- fim dados local incidente-->
    </form>
         
       </div>

      <script>
     $(document).ready(function(){
        $('select').material_select();
        $('ul.tabs').tabs();
        $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });
        });
    </script>