 <div class="row">
     <!--<ul class="tabs">
        <li class="tab col s6"><a class="active" href="#dadosUsuario">Dados usuário</a></li>
        <li class="tab col s6"><a  href="#dadosConta">Conta</a></li>
    </ul>-->
      <ul class="tabs">
        <li class="tab col s5"><a class="active" href="#dadosUsuario">Dados usuário</a></li>
        <div class="col s2">
            
        </div>
        <li class="tab col s5"><a href="#dadosConta">Conta</a></li>
     </ul>
    <form name="novoUsuarioForm" class="col s12" role="form">
    
        <!-- início dados usuario-->
        <div id="dadosUsuario" class="col s12">
            <div class="input-field col s6">	
                <input type="text" class="validate" ng-model="nome" minlength="3" maxlength="30" required/>
                <label>Nome</label>
            </div>
        
            <div class="input-field col s6">
                <input type="text" class="validate" ng-model="sobrenome" name="sobrenome" id="sobrenome" minlength="3" maxlength="30" required/>
                <label for="sobrenome">Sobrenome</label>
            </div>


            <div class="input-field col s6">
                <input type="text" class="validate" ng-model="email"  name="email" id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                <label for="email">E-mail</label>
            </div>
            
        
            <div class="input-field col s6">
                <input type="text" class="validate" ng-model="telefone" name="telefone" id="telefone1" pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$" required/>
                <label for="telefone1">Telefone</label>	
            </div>
            
            <div class="input-field col s12">
                <input type="radio" name="radioBtn" ng-model="sexo" name="feminino" id="feminino1" value="F"/>
                <label for="feminino1">Feminino</label>
                
                <input type="radio" name="radioBtn" ng-model="sexo" name="masculino" id="masculino1" value="M"/>
                <label for="masculino1">Masculino</label>
            </div>

           
            
                <div class="input-field col s8 m8">	
                    <input type="text" class="validate" ng-model="instituicaoNome" required/>
                    <label>Nome</label>
                </div>
                <div class="input-field col s4 m4">	
                    <input type="text" class="validate" ng-model="instituicaoRegistro" required/>
                    <label>Registro</label>
                </div>
                
                <div class="input-field col s12 m12">
                    <select id="instituicaoTipo" name="instituicaoTipo" ng-model="instituicaoTipo" required> 
                        <option value="" disabled selected>Tipo de Instituição</option>
                        <option value="UN">Universidade</option>
                        <option value="CP">Centro de Pesquisas</option>
                        <option value="OF">Órgão de Fiscalização</option>
                        <option value="OU">Outros</option>
                    </select>
                </div>
            
           
            
        </div>

        <!-- início dados conta-->
        <div id="dadosConta" class="col s12">

            <div class="input-field col s12">
                <select id="perfil" name="perfil" ng-model="perfil" required> 
                    <option value="" disabled selected>Perfil</option>
                    <option value="1">Administrador</option>
                    <option value="2">Pesquisador</option>
                    <option value="3">Usuário Comum</option>
                </select>
            </div>

            <div class="input-field col s12">
                <select id="status" name="status" ng-model="status" required>
                    <option value="" disabled selected>Status</option>
                    <option value="0">Inativo</option>
                    <option value="1">Ativo</option>
                    <option value="2">Bloqueado</option>  
                </select>
            </div>
                
            <div class="input-field col s12">
                <input type="text" class="validate" name="login" id="login" ng-model="login" required/>
                <label for="login">Login</label>
            </div> 

            <div class="input-field col s6">
                <input type="password"  class="validate" name="senha" id="senha" ng-model="senha" required/>
                <label for="senha">Senha</label>	
            </div>

            <div class="input-field col s6">
                <input type="password"  class="validate" name="confirmaSenha" id="confirmaSenha" ng-model="confirmaSenha" required/>
                <label for="confirmaSenha">Confirma senha</label>	
            </div>
            
            <div class="input-field col s12">
                <a href="#novo-usuario" class="btn waves-effect waves-light" ng-click="inserirUsuario()">Salvar <i class="material-icons right">send</i></a>  
                <button  type="reset" class="btn waves-effect waves-light">Limpar <i class="material-icons right">delete</i></button>  
            </div> 
        </div>
        <!-- fim dados conta-->
        
    </form>
         
       </div>

      <script>
     $(document).ready(function(){
        $('select').material_select();
        $('ul.tabs').tabs();
        });
    </script>