 <div class="row">
        <div class="col m12">
         
             <form role="form">
                 <div class="input-field col s6">
                    <input type="text" class="validate" name="login" id="login" ng-model="login" />
                    <label for="pesquisar">Pesquisar</label>
                </div> 
               <div class="input-field col s4">
                <select id="pesquisa" name="pesquisa" ng-model="pesquisaPor">
                    <option value="" disabled selected>Pesquisa por</option>
                    <option value="local">Local</option>
                    <option value="vitima">Vítima</option>
                    <option value="pratica">Prática</option>  
                </select>
               </div>
                <div class="input-field col s2">
                    <button type="button" class="btn waves-effect waves-light right" name="pesquisarBtn" id="pesquisarBtn" ng-click="pesquisar()"><i class="material-icons">search</i></button>
                   
                </div>
             </form> 
        
     </div>

     <!--ng-class="{'hide' : individuos == null}"-->
     <div class="col s12"  ng-class="{'hide' : individuos == null}">
  <table class="centered">
    
    <thead>
      <tr>
        <td>Local</td>
        <td>Data</td>
        <td>Vitima</td>
        <td>Pratica</td>
         <td>Ações</td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="individuo in individuos | filter:search | orderBy: 'data'">
        
        <td>{{ individuo.incidente.local.nomeLocal }}</td>
        <td>{{ individuo.incidente.dataIncidente }}</td>
        <td>{{ individuo.nome }}</td>
    
        <td>{{ individuo.pratica.descPratica }}</td>
        

        <td class="botao-acoes"><button class="btn waves-effect waves-light"  ng-click="editarIncidente(individuo)" data-target="modal1"> <i class="material-icons right">mode_edit</i></button></td>
        <td class="botao-acoes"><button class="btn waves-effect waves-light"  ng-click="ponto(individuo.id)" data-target="modal3"><i class="material-icons right">map</i></button></td>
        <td class="botao-acoes"><button class="btn waves-effect waves-light"  ng-click="deletarIncidente(individuo)"  data-target="modal2"><i class="material-icons right">delete</i></button></td>
      </tr>
      <tr>
     
    </tbody>
    
  </table>
 
  </div>

   
<script>
    $(document).ready(function () {
        $('select').material_select();
        $('.modal').modal();
    });
    
</script>
