<div class="row">
     <div class="col m12">
         
             <form role="form">
                 <div class="input-field col s6">
                    <input type="text" class="validate" name="search" id="search" ng-model="search" />
                    <label for="pesquisar">Pesquisar</label>
                </div> 
               <div class="input-field col s4">
                <select id="pesquisa" name="pesquisa" ng-model="pesquisaPor">
                    <option value="" disabled selected>Pesquisa por</option>
                    <option value="login">Login</option>
                    <option value="nome">Nome</option>
                    <option value="Sobrenome">Sobrenome</option>  
                </select>
               </div>
                <div class="input-field col s2">
                    <button type="button" class="btn waves-effect waves-light right" name="pesquisarBtn" id="pesquisarBtn" ng-click="pesquisar()"><i class="material-icons">search</i></button>
                   
                </div>
             </form> 
        
     </div>
    <div class="col m12" ng-class="{'hide' : usuarios == null}">
  <table class="centered">
    
    <thead>
      <tr>
    
        <td>
          Instituição
        </td>
        <td>
          Nome
        </td>
        <td>
          Sobrenome
        </td>
         
        <td>
          E-mail
        </td>
        <td>
          Status
        </td>
         <td colspan="2">
         Ações
         </td>
      </tr>
    </thead>
      <div class="preloader-wrapper big active middle" ng-class="{'hide' : usuarios != null}">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <tbody>
      <tr ng-repeat="u in usuarios | filter:search | orderBy: 'usuarioId'">
        
        <td>{{ u.instituicao.nome }}</td>
        <td>{{ u.name }}</td>
        <td>{{ u.secondName }}</td>
    
        <td>{{ u.email }}</td>
        <td>{{ u.status }}</td>
        <td class="botao-acoes"><button class="btn waves-effect waves-light"  ng-click="editarUsuario(u)"><i class="material-icons">edit</i></button></td>
        <td class="botao-acoes"><button class="btn waves-effect waves-light"  ng-click="deletarUsuario(u)"><i class="material-icons">delete</i></button></td>
      </tr>
    </tbody>
    
  </table>
  </div>
     </div>

 <script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>